{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Articles{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('uploading.upload') }}">Upload</a>
    <span>|</span>
    <a class="action" href="{{ url_for('uploading.ingest') }}">Ingest</a>
    <span>|</span>
    <a class="action" href="{{ url_for('uploading.search') }}">Search</a>
  {% endif %}
{% endblock %}
Upload
{% block content %}
  {% for article in articles %}
    {% if g.user['id'] == article['uploader_id'] %}
      <article class="post">
        <header>
          <div>
            <h1>{{ article['title'] }}</h1>
            {% if not article['author'] == '' and not article['published'] == '' %}
              <div class="about">author: {{ article['author'] }}, published at: {{ article['published'] }}</div>
            {% endif %}
            <div class="about">uploaded by {{ article['username'] }} on {{ article['uploaded'].strftime('%Y-%m-%d') }}</div>
            <div class="info">The sentiment is {{ article['sentiment'] }}.</div>
            {% if article['para_list'] != "" %}
              <div class="info">The keyword is {{ article['keyword'] }}.&nbsp&nbspThe keyword is in paragraph {{ article['para_list'] }}. </div>
            {% else %}
              <div class="info">The keyword is {{ article['keyword'] }}. </div>
            {% endif %}
          </div>
          <a class="action" href="{{ url_for('uploading.update', id=article['id']) }}">Edit</a>
        </header>
        <p class="body">{{ article['body'] }}</p>
        {% if not article['article_url'] == '' %}
          <a class="action" href="{{ article['article_url'] }}">Source</a>
        {% endif %}
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}