{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Ingest{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <div>Please type in the keyword.</div>
    <input name="keyword" id="keyword" value="{{ request.form['keyword'] }}" required>
    <div>Please type in the number. (1-100)</div>
    <input name="number" id="number" value="{{ request.form['number'] }}" required>
    <input type="submit" value="Ingest">
  </form>
{% endblock %}