{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search Results [Number of results: {{ length }}]{% endblock %}</h1>
  {% if g.user %}
  <a class="action" href="{{ url_for('uploading.index') }}">Return</a>
  {% endif %}
{% endblock %}
Search Results
{% block content %}
  {% for article in articles %}
    {% if g.user['id'] == article['uploader_id'] %}
      <article class="post">
        <header>
          <div>
            <h1>{{ article['title'] }}</h1>
            {% if not article['author'] == '' and not article['published'] == '' %}
              <div class="about">author: {{ article['author'] }}, published at: {{ article['published'] }}</div>
            {% endif %}
            <div class="about">uploaded by {{ article['username'] }} on {{ article['uploaded'].strftime('%Y-%m-%d') }}</div>
            <div class="info">The sentiment is {{ article['sentiment'] }}.</div>
            <div class="info">The keyword is {{ article['keyword'] }}.&nbsp&nbspThe keyword is in paragraph ... </div>
          </div>
        </header>
        <p class="body">{{ article['body'] }}</p>
        {% if not article['article_url'] == '' %}
          <a class="action" href="{{ article['article_url'] }}">Source</a>
        {% endif %}
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}